html{
    background-color: white;
}

#textheader{
    color: orange;
}

#text{
    font-size: 15px;
}

#name{
    color: black;
    font-size: 50px;
}

#profile{
    font-size: 15px
}

#h1color{
    color: red;
}