html{
    background-color: white;
}

#textheader{
    color: orange;
}

#text{
    font-size: 15px;
}

#name{
    color: black;
    font-size: 50px;
}

#profile{
    font-size: 15px
}

#h1color{
    color: red;
}

#contacts{
    width: 30%;
}

#resume_prof{
    width: 70%;
    float: right;
}

#skills{
    width: 70%;
    float: right;
}

#header{
    background-image: url(imgs/background.jpg);
    background-position: 100%;
    width: 310px;
    height: 360px;
}

#lopes{
    position: absolute;
    left: 22px;
    top: 22px;
}

#resume{
    width: 20%;
}
